<template lang="pug">
  .pin-point.p-0
    .pin-point-placeholder(v-show="!isActive")
        .pin-point-placeholder-icon
            i.fas.fa-map-marker-alt.fa-2x
        .pin-point-placeholder-text
            p.mb-0 {{ info ? info : 'Tandai lokasi dalam peta' }}
        .pin-point-placeholder-button
          el-button(type="primary" size="small" @click="isActive = true")
            | {{ info ? 'Change Pin Point' : 'Set Pin Point' }}

    .drag-area(v-if="isActive")
      GmapAutocomplete(
        placeholder="Search your location"
        :select-first-on-enter="true"
        @place_changed="updatePlace")
      .mb-2
      gmap-map(
        ref="maps"
        map-type-id="roadmap"
        :center="center"
        :zoom="15"
        :options="maps_options"
        @center_changed="updateCenter"
        style="width: 100%; height: 300px;")
      p.mb-0.pin-info {{ info }}
      img.drag-pin(src="../../assets/images/marker.png" width="150" @click="updatePointer")
</template>

<script>
import _ from 'lodash'
import { gmapApi } from 'gmap-vue'

const MAPS_OPTIONS = {
  zoomControl: false,
  mapTypeControl: false,
  scaleControl: false,
  streetViewControl: false,
  rotateControl: false,
  fullscreenControl: false,
  disableDefaultUi: false,
}

export default {
  name: 'PinPoint',
  props: {
    value: {
      type: Object,
      default: () => ({
        lat: -6.175343,
        lng: 106.827164,
      }),
    },
  },
  data: () => ({
    isActive: false,
    info: null,
    center: {
      lat: -6.175343,
      lng: 106.827164,
    },
    maps_options: MAPS_OPTIONS,
  }),
  computed: {
    google: gmapApi,
    geocoder: () => {
      // eslint-disable-next-line no-undef
      if (google) {
        // eslint-disable-next-line no-undef
        return new google.maps.Geocoder()
      }
    },
  },
  created() {
    if (this.value) {
      this.center = this.value
    }
  },
  methods: {
    reverseGeocoding() {
      this.$axios
        .get('https://maps.googleapis.com/maps/api/geocode/json', {
          params: {
            latlng: `${this.center.lat},${this.center.lng}`,
            key: 'AIzaSyBPx02inVenk0bE7hU-cjtWlZpIrF8tDsQ',
          },
        })
        .then((response) => {
          if (response.data.status === 'OK') {
            this.info = response.data.results[0].formatted_address
          }
        })
    },
    updatePointer() {
      this.isActive = false
      this.$emit('input', this.center)
      this.$emit('change', true)
    },
    updatePlace(place) {
      if (!place) return
      this.center = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng(),
      }
      // Sync With Props
      this.$emit('input', this.center)
      this.$emit('change', true)
    },
    fetchLocationInfo() {
      // eslint-disable-next-line
      this.geocoder.geocode({ location: this.center }, (results, status) => {
        if (status === 'OK') {
          this.info = results[0].formatted_address
        } else {
          this.info = ''
        }
      })
    },
    updateOnIdle() {
      this.fetchLocationInfo()
      this.$emit('input', this.center)
      this.$emit('change', true)
    },
    updateCenter: _.debounce(function (latLng) {
      this.center = {
        lat: latLng.lat(),
        lng: latLng.lng(),
      }
      this.fetchLocationInfo()
      this.$emit('input', this.center)
      this.$emit('change', true)
    }, 300),
  },
}
</script>

<style lang="scss" scoped>
.pin-point {
  padding: 0 15px;
  &-info {
    margin: 20px 0;
  }
  &-placeholder {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background: #fafafa;
    position: relative;
    z-index: 2;
    div {
      z-index: auto;
      color: #fff;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: rgba(42, 115, 150, 0.8);
      position: absolute;
      z-index: -5;
    }
    &-icon {
      margin-right: 20px;
      flex-basis: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-text {
      padding-right: 10px;
      flex-basis: 70%;
      p {
        margin: 0;
        line-height: normal;
      }
    }
    &-button {
      flex-basis: 20%;
    }
  }
  .pin-info {
    line-height: 25px;
  }
  .drag-pin {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
  }
  .drag-area {
    position: relative;
    .pac-target-input {
      padding: 6px;
      position: absolute;
      left: 0;
      z-index: 2;
      right: 0;
      width: 50%;
      margin: 6px;
    }
  }
}
</style>
