<template lang="pug">
    el-select.w-100(:loading="result.isLoading", v-bind="$attrs" placeholder="Pilih kota", filterable, value-key="city_id", v-model="innerValue")
        el-option(v-for="(item, key) in state.cities" :key="key" :label="`${item.type} ${item.city_name}`" :value="dataValue === 'object' ? item : item.city_id")
</template>

<script>
import { computed, onMounted, reactive, watch } from '@nuxtjs/composition-api'
import { handler } from '@/controllers/handler'
export default {
  props: {
    value: {
      type: [String, Object],
      default: null,
    },
    provinceId: {
      type: String,
      default: null,
    },
    dataValue: {
      type: String,
      default: null,
    },
  },
  setup(props, { emit }) {
    const { result, fetchData } = handler()
    const state = reactive({
      cities: [],
    })

    watch(
      () => result,
      (value) => {
        if (value.isSuccess) {
          state.cities = value.response.data
        }
      },
      { deep: true }
    )

    watch(
      () => props.provinceId,
      (value) => {
        emit('input', null)
        if (value) {
          getCities(value)
        }
      }
    )

    const innerValue = computed({
      get: () => {
        return props.value
      },
      set(newValue) {
        emit('input', newValue)
      },
    })

    function getCities(provinceId) {
      fetchData(`/raja-ongkir/city/${provinceId}`)
    }

    onMounted(() => {
      if (props.provinceId) {
        getCities(props.provinceId)
      }
    })

    return {
      state,
      result,
      innerValue,
    }
  },
}
</script>
