// Plugins
// @import "~vue2-animate/src/sass/vue2-animate.scss";
// @import "~vue-wysiwyg/dist/vueWysiwyg.css";
// @import "~vue-snotify/styles/material";

body {
    font-size: 0.875rem;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.clear {
    float: none;
    clear: both;
}

.font-weight-500{
    font-weight: 500;
}
.card-custom{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 1px 4px rgba(0, 0, 0, 0.04);
    
    background: #fff;
    border-radius: 4px;

    .card-head{
        background:white; 
        border-radius: 4px 4px 0 0;
        padding:8px 14px;
    }
    
    .card-content{
        background: #fff;
        padding:10px 14px 10px 14px;
        border-radius: 0 0 4px 4px;
    }
    
    .card-footer{
        background:white; 
        border-radius: 0 0 4px 4px;
        padding:13px 14px;
    }
}

.breadcrumb-line-light {
    background-color: #fafafa;
    border-color: #ddd;
    color: #333;
    position: relative;
    padding: 0.60rem;
    padding-left: 1.25rem;
    border-top: 1px solid transparent;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.zy-dialog-wrapper{
    .zy-dialog-content{
      .zy-dialog-header{
          font-weight: normal !important;
          pre{
              overflow-y: hidden !important;
              word-break: unset !important;
          }
      }
      .zy-dialog-footer{
          .zy-dialog-footer-button{
              padding: 4px 20px !important;
          }
      }
    }
} 

img.responsive-img {
    // width: 100%;
    // height: 100%;
    object-fit: contain;
}

#nprogress .bar {   
    background: #fff200 !important;
}

.f-nav-toggle {
    display: flex;
    margin: 0;
    background: #eeeeee;
    padding: 2px;
    border-radius: 4px;
    .nav-item {
      border: 0.8px solid #007aff;
      color: #7d8893 !important;
      padding: 6px 0;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      background-color: #fafafa;
      cursor: pointer;
      text-decoration: none;
      &.active {
        color: white !important;
        background-color: #007aff !important;
        &:hover {
          color: white !important;
        }
      }
    }
  }

.tableFixHead { overflow-y: auto;}
.tableFixHead thead tr:nth-child(1) th { position: sticky; z-index:2; top: 0; }
.tableFixHead thead tr:nth-child(2) th { position: sticky; z-index:2; top: 38px; border: 1px solid #fff;}
.tableFixHead tfoot th { position: sticky; bottom: 0; border: 1px solid #fff;}
