// colors
$color-unique: #DD0206;
$color-cart: #FFC10D;

// Responsive (Max Width)
$breakpoint-desktop-sm: 1024px;
$breakpoint-tablet: 769px;
$breakpoint-mobile: 641px;

.el-button--unique {
  color: #FFF;
  background-color: $color-unique;
  border-color: $color-unique;
  &:hover, &:focus {
    color: #FFF;
    background-color: $color-unique;
    border-color: $color-unique;
    opacity: 0.5;
  }
}

.el-button--cart {
  color: #FFF;
  background-color: $color-cart;
  border-color: $color-cart;
  &:hover, &:focus {
    color: #FFF;
    background-color: $color-cart;
    border-color: $color-cart;
    opacity: 0.5;
  }
}

.me-container {
  margin: 0 auto;
}

.product-img {
  width: 100%;
  height: 100%;;
}

@media (min-width: $breakpoint-tablet) {
  // Utilities
  .show-on-mobile {
    display: none;
  }
  .hide-on-mobile {
    display: block;
  }
  .me-container {
    width: 80%;
  }
  .search-width {
    width: 50%;
  }
}

@media (max-width: $breakpoint-tablet) {
  .show-on-mobile {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
  .me-container {
    width: 90%;
  }
  .search-width {
    width: 100%;
  }
}

.el-form-item {
    margin-bottom: 5px !important;
    .el-form-item__label {
      width: 100% !important;
      text-align: left !important;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
}

a {
    color: #6e6e6e;
    text-decoration: none;
    &:hover {
      color: $color-unique;
    }
}

a.red-link {
  color: $color-unique;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: #6e6e6e;
  }
}

.el-dialog {
  .el-dialog__body{
    padding-top: 0px !important;
  }
}