// colors
$color-unique: #DD0206;
$color-cart: #FFC10D;

// Responsive (Max Width)
$breakpoint-desktop-sm: 1024px;
$breakpoint-tablet: 769px;
$breakpoint-mobile: 641px;

// Settings
$--color-primary: $color-unique;
$--color-warning: $color-cart;

// Icon Path
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Main CSS
@import "~element-ui/packages/theme-chalk/src/index";

.direction-right {
  direction: rtl;
}

.direction-left {
  direction: ltr;
}

.min-height-screen {
  min-height: calc(100vh - 80px);
}

.max-height-screen {
  max-height: calc(100vh - 80px);
}

.me-container {
  position: relative;
  // overflow-x: hidden;
  margin: 0 auto;
}

.product-img {
  width: 100%;
  height: 100%;;
}

@media (min-width: $breakpoint-tablet) {
  // Utilities
  .show-on-mobile {
    display: none;
  }
  .hide-on-mobile {
    display: block;
  }
  .me-container {
    width: 80%;
  }
  .search-width {
    width: 50%;
  }
}

@media (max-width: $breakpoint-tablet) {
  .show-on-mobile {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
  .me-container {
    width: 90%;
  }
  .search-width {
    width: 100%;
  }
}

.el-form-item {
    margin-bottom: 5px !important;
    .el-form-item__label {
      width: 100% !important;
      text-align: left !important;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
}

a {
    color: #6e6e6e;
    text-decoration: none;
    &:hover {
      color: $color-unique;
    }
}

a.red-link {
  color: $color-unique;
  text-decoration: none;
  // font-weight: bold;
  &:hover {
    color: #6e6e6e;
  }
}

.el-dialog {
  .el-dialog__body{
    padding-top: 0px !important;
  }
}

@media (max-width: 480px) {
  .confirm-custom {
    width: 300px;
  }
}

// /* width */
// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
//   border-radius: 20px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgb(214, 214, 214);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: rgb(195, 195, 195);
// }

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}