<template lang="pug">
    .register-form.containers
        .row.justify-content-md-center
            .col-md-8.col-lg-5
                .login-card.mt-4
                    .text-center.show-on-mobile
                      img(src="../../assets/images/logo/icon1.png" width="110" height="auto")
                    .mt-3.login-form.text-size-small
                      h3.m-0 Selamat Datang !
                      p.text-color-gray.mt-2.mb-2 Silahkan Login Untuk Melanjutkan
                      el-form(:model="form" :rules="rules" ref="refForm" @submit.native.prevent="submitForm()")
                          el-form-item(prop="email" label="Email")
                              el-input(type="email" v-model="form.email" placeholder="Email")
                          el-form-item(prop="password" label="Kata Sandi")
                              el-input(:type="show_password ? 'text' : 'password'" v-model="form.password" placeholder="Kata Sandi")
                                i(slot="suffix" class="mr-2 fa" style="cursor: pointer" @click="show_password = !show_password" :class="show_password ? 'fa-eye' : 'fa-eye-slash'" )
                          .mt-3
                              a.red-link(href="javasciprt:void(0)" @click="isLoginDialog = false, $router.push({ name: 'auth-reset-password' })") Lupa Password?

                          el-button.mt-3.w-100(native-type="submit" type="primary" :loading="isLoading")
                              | LOGIN

                          .mt-4.border-top.text-center
                              p.text-size-small.mb-0
                                  | Belum punya akun Padiraharja? &nbsp;
                                  a.red-link(href="javasciprt:void(0)" @click="isLoginDialog = false, $router.push({ name: 'auth-register' })") Daftar
          
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/messaging'

import {
  computed,
  onMounted,
  reactive,
  ref,
  toRefs,
} from '@nuxtjs/composition-api'
export default {
  middleware: 'login',
  props: {
    isDialog: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, ctx) {
    const state = reactive({
      isLoading: false,
      show_password: false,
    })

    const form = reactive({
      email: '',
      password: '',
      fcm_token: '',
    })

    const rules = reactive({
      email: [
        {
          required: true,
          message: 'Please input your email',
          trigger: 'blur',
        },
        {
          type: 'email',
          message: 'Please input correct email address',
          trigger: ['blur', 'change'],
        },
      ],
      password: [
        {
          required: true,
          message: 'Please input your password',
          trigger: 'blur',
        },
      ],
    })

    const refForm = ref(null)

    const isLoginDialog = computed({
      get: () => {
        return props.isDialog
      },
      set: (val) => {
        ctx.emit('update:isDialog', val)
      },
    })

    function submitForm() {
      const _this = ctx.root
      refForm.value.validate(async (valid) => {
        if (valid) {
          state.isLoading = true
          const response = await _this.$api.postData('/auth/login', form)
          if (response.status === 200) {
            const data = response.data.data
            localStorage.setItem('token', data.token)
            window.location.reload()
          }
          state.isLoading = false
        }
      })
    }

    onMounted(() => {
      try {
        firebase
          .messaging()
          .requestPermission()
          .then(() => {
            console.log('Notification permission granted')
            firebase
              .messaging()
              .getToken()
              .then((token) => {
                form.fcm_token = token
                console.log('token', token)
              })
          })
          .catch((err) => {
            console.log('Unable to get token ', err)
          })
      } catch (error) {
        console.log('error', error)
      }
    })

    return {
      ...toRefs(state),
      form,
      rules,
      refForm,
      submitForm,
      isLoginDialog,
    }
  },
  head: () => ({
    title: 'Login - Padiraharja',
  }),
}
</script>

<style lang="scss">
.login-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 24px 25px 32px;
}
@media (max-width: 780px) {
  .login-card {
    box-shadow: unset;
    border: unset;
    border-radius: unset !important;
    padding: 0 10px;
  }
}
</style>
