<template>
  <div v-if="notify">
    <div id="notification-box" class="notification-box">
      <a id="notification-close" href="#" title="close" @click="closed()">x</a>

      <div class="notification-data">
        <div class="notification-title">
          <p id="title">
            {{ from }}
            <br />
            <span id="title" style="font-size: 12px; font-weight: 600">{{
              title
            }}</span>
          </p>
        </div>

        <div class="notification-notice">
          <p id="subject">{{ subject }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/messaging'

export default {
  name: 'NotificationBox',
  data() {
    return {
      title: '',
      from: '',
      subject: '',
      userimg: '',
      currentMessage: '',
      notify: false,
    }
  },

  created() {
    try {
      firebase
        .messaging()
        .requestPermission()
        .then(() => {
          console.log('Notification permission granted')
          firebase
            .messaging()
            .getToken()
            .then((token) => {
              console.log('token ', token)
              this.receiveMessage()
            })
        })
        .catch((err) => {
          console.log('Unable to get token ', err)
        })
    } catch (e) {
      console.log(e)
    }
  },

  methods: {
    receiveMessage() {
      try {
        firebase.messaging().onMessage((payload) => {
          this.currentMessage = payload
          console.log(this.currentMessage)
          console.log('Message received. ', payload)
          const message = payload.data.username + ':\n\n' + payload.data.message
          this.setNotificationBoxForm(
            payload.data.shipmentWallNumber,
            payload.data.username,
            payload.data.message
          )
          console.log(message)
          this.notify = true
          setTimeout(() => {
            this.notify = false
          }, 3000)
        })
      } catch (e) {
        console.log(e)
      }
    },

    setNotificationBoxForm(title, from, subject) {
      this.title = title
      this.from = from
      this.subject = subject
    },
  },
}
</script>

<style>
.notification-box {
  display: flex;
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 30%;
  height: 100px;
  background-color: #fff;
  z-index: 3;
}
#notification-close {
  position: absolute;
  color: #777;
  font: 14px;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 2px;
  z-index: 2;
  cursor: pointer;
}

.notification-data {
  margin: 0 20px;
}
.notification-data p {
  margin: 10px 0;
}
.notification-notice p {
  font-size: 14px;
  font-weight: 400;
}
.notification-title p {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}
.notification-time small {
  font-size: 12px;
}
.notification-wall-number small {
  font-size: 8px;
}

/* img {
  width: 30px;
} */
</style>
