<template lang="pug">
  .homepage
    .show-on-mobile
        el-tabs.mt-2(v-model="tab_name")
            el-tab-pane(label="Akun Pembeli" name="1")
              .side-content
                  .store-detail.border-top.border-bottom.pb-3.pt-3
                      .d-flex.align-items-center.justify-content-between(v-if="user_data")
                          .user-info
                              p.font-weight-bold.m-0 {{user_data.name}}
                              p.text-color-gray.m-0.mt-1 {{user_data.phone}}
                              p.text-color-gray.m-0.mt-1 {{user_data.email}}
                          .user-detail
                              p.font-weight-light.m-0 Saldo: Rp.{{user_data.balance | price}}
                  el-menu.el-menu-vertical-demo.border-0(default-active="1")
                      el-menu-item(@click="onSidebarClicked(item.id, item.label)" v-for="(item, key) in userMenus" :key="key" :index="item.id")
                          i.fas(:class="item.icon" :style="{marginRight: item.mr}")
                          span(slot='title') {{item.label}}
                      el-menu-item(index="6" @click="onSidebarClicked('6')")
                          .d-flex.align-items-center.justify-content-between.text-price(slot='title')
                              span Hubungi Admin
                              i.far.fa-comment-dots
                      el-menu-item(index="7" @click="onSidebarClicked('7')")
                          .d-flex.align-items-center.justify-content-between.text-price(slot='title')
                              span Logout
                              i.far.fa-power-off
                            
            el-tab-pane(label="Akun Toko" name="2")
              .row.mt-4.justify-content-center(v-if="!store_data")
                .col-md-8
                  h4.mt-2.mb-2 Buat Toko
                  p.mt-0.text-size-small.text-color-gray Isi detail tokomu, dan bangun bisnis kecilmu dengan padiraharja sekarang juga.
                  FormStore(@change="fetchStore")
              .side-content(v-else)
                  .store-detail.border-top.border-bottom.pb-3.pt-3
                      .d-flex.align-items-center
                          .product-image.mr-3
                              img(:src="store_data.logo" width="40" height="40")
                          .product-detail
                              p.font-weight-bold.m-0 {{store_data.name}}
                  el-menu.el-menu-vertical-demo(default-active="m1")
                      el-menu-item(@click="onSidebarClicked(item.id, item.label)" v-for="(item, key) in merchantMenus" :key="key" :index="item.id")
                          i.fas(:class="item.icon" :style="{marginRight: item.mr}")
                          span(slot='title') {{item.label}}

        transition(name="fade")
          .profile-widget-mobile.shadow-lg.show-on-mobile(v-if="showMessage")         
            .content-header
              .d-flex.justify-content-between.align-items-center
                h3.m-0.ml-2 {{current_label}}
                el-button(@click="showMessage = false" type="primary" size="small")
                  i.fas.fa-times

            //- account 
            FormAccount(:userData="user_data" v-if="sidebar_type === '1'" is-mobile)
            WithdrawList(v-else-if="sidebar_type === '2'" is-mobile)
            BanksList(v-else-if="sidebar_type === '3'" is-mobile)
            TransactionsListUser(v-else-if="sidebar_type === '4'" is-mobile)
            PrivacyPolices(v-else-if="sidebar_type === '5'" is-mobile)

            //- store          
            FormStore(:storeData="store_data" @change="fetchStore" v-if="sidebar_type === 'm1'" is-mobile)
            ProductsList(v-else-if="sidebar_type === 'm2'" is-mobile)
            FormAddress(v-else-if="sidebar_type === 'm3'" is-mobile)
            TransactionsList(v-else-if="sidebar_type === 'm4'" is-mobile)

        //- bottom navigation
        BottomNavigation
</template>

<script>
export default {
  middleware: 'authenticated',
  components: {
    FormAccount: () => import('@/components/account/FormAccount'),
    WithdrawList: () => import('@/components/account/WithdrawList'),
    BanksList: () => import('@/components/account/BanksList'),
    TransactionsListUser: () =>
      import('@/components/account/TransactionsListUser'),
    PrivacyPolices: () => import('@/components/PrivacyPolices'),
    BottomNavigation: () => import('@/components/layout/BottomNavigation'),
  },

  data: () => ({
    store_data: null,
    tab_name: '1',
    userMenus: [
      { id: '1', icon: 'fa-user', label: 'Profile', mr: '18px' },
      {
        id: '2',
        icon: 'fa-hand-holding-usd',
        label: 'Tarik Saldo',
        mr: '16px',
      },
      { id: '3', icon: 'fa-credit-card', label: 'Akun Bank', mr: '18px' },
      { id: '4', icon: 'fa-history', label: 'Riwayat Transaksi', mr: '18px' },
      { id: '5', icon: 'fa-file', label: 'Kebijakan Privasi', mr: '23px' },
    ],
    merchantMenus: [
      { id: 'm1', icon: 'fa-store', label: 'Toko', mr: '13px' },
      { id: 'm2', icon: 'fa-list', label: 'Produk', mr: '16px' },
      { id: 'm3', icon: 'fa-map-pin', label: 'Alamat Pengiriman', mr: '22px' },
      { id: 'm4', icon: 'fa-history', label: 'Riwayat Transaksi', mr: '15px' },
    ],
    showMessage: false,
    sidebar_type: null,
    current_label: null,
  }),

  computed: {
    user_data() {
      return this.$store.getters['auth/getSessionData']
    },
  },

  watch: {
    tab_name(value) {
      if (value === '2') {
        this.fetchStore()
      }
    },
  },

  methods: {
    onSidebarClicked(id, label) {
      if (id !== '6' && id !== '7') {
        this.sidebar_type = id
        this.current_label = label
        this.showMessage = true
      } else if (id === '6') {
        window.open(
          'https://web.whatsapp.com/send?phone=6289617694232&text=Salam, Admin Padiraharja ..',
          '_blank'
        )
      } else if (id === '7') {
        this.logout()
      }
    },

    logout() {
      this.$confirm('Are you sure want to logout?', 'Logout', {
        customClass: 'confirm-custom',
      }).then(() => {
        localStorage.removeItem('token')
        localStorage.removeItem('vuex')
        window.location.reload()
      })
    },

    async fetchStore() {
      const response = await this.$api.fetchData('/user/merchant')
      if (response.status === 200) {
        this.store_data = response.data.data
      }
    },
  },

  head: () => ({
    title: 'Profile Setting - Padiraharja',
  }),
}
</script>

<style lang="scss">
.store-detail {
  padding: 0 20px;
}
.profile-widget-mobile {
  z-index: 6;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.content-header {
  top: 0;
  position: sticky;
  z-index: 2;
  background: white;
  padding: 5px;
  text-align: right;
}
</style>
