<template lang="pug">
    .homepage
        PrivacyPolices.privacy
</template>

<script>
export default {
  components: {
    PrivacyPolices: () => import('@/components/PrivacyPolices'),
  },
}
</script>

<style lang="scss">
.privacy {
  min-height: 100vh;
}
</style>
