<template lang="pug">
    el-dialog(
        append-to-body
        title="Penarikan Ke Rekening Bank"
        :visible.sync="isDialog"
        :fullscreen="isMobile"
        width="450px")
        el-form(
            :model="form"
            :rules="rules"
            ref="refForm"
            )
            el-form-item(prop="amount" label="Nominal")
                el-input-number.custom-number(v-model="form.amount" :min="50000" :controls="false" placeholder="Masukkan nominal (Min. Rp. 50.000)")
            el-form-item(prop="user_bank_id" label="Bank Tujuan")
                SelectBankField(v-model="form.user_bank_id" is-withdraw)
            .mt-3.text-right
                el-button(:class="{'w-100' : isMobile}" type="primary" @click="submitForm()" v-loading.fullscreen.lock="response.isLoading") Submit
                el-button.m-0.mt-2.w-100(type="primary" plain v-if="isMobile" @click="isDialog = false") Batal

</template>

<script>
import { handler } from '@/controllers/handler'
import { computed, reactive, ref, watch } from '@nuxtjs/composition-api'
export default {
  props: {
    value: {
      type: Boolean,
      default: null,
    },
    isMobile: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const { form: response, postData } = handler()

    const form = reactive({
      amount: null,
      user_bank_id: null,
    })

    const rules = reactive({
      amount: [
        {
          required: true,
          message: 'Please input nominal',
          trigger: 'change',
        },
      ],
      user_bank_id: [
        {
          required: true,
          message: 'Please select bank',
          trigger: 'change',
        },
      ],
    })

    const refForm = ref(null)

    function submitForm() {
      refForm.value.validate((valid) => {
        if (valid) {
          postData('/withdraw', form)
        }
      })
    }

    watch(
      () => response,
      (value) => {
        if (value.isSuccess) {
          emit('input', false)
          emit('change')
        }
      },
      { deep: true }
    )

    const isDialog = computed({
      get: () => {
        return props.value
      },
      set: (val) => {
        emit('input', val)
      },
    })

    return {
      form,
      rules,
      refForm,
      submitForm,
      response,
      isDialog,
    }
  },
}
</script>

<style lang="scss">
.custom-number {
  width: 100%;
  .el-input {
    input {
      text-align: left;
    }
  }
}
</style>
